.movie-information-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00000088;
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 10px;
}

.movie-information {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
}

.movie-episodes-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 250px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #808080;
  border-radius: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.movie-episode {
  width: 100%;
  text-align: center;
  color: white;
  padding: 3px 0px;
  text-decoration: none;
  transition: opacity 0.2s linear;
  flex-grow: 0;
  flex-shrink: 0;
}

.movie-episode:hover {
  opacity: 0.8;
}

.movie-episode:nth-of-type(2n + 1) {
  background-color: #6c66cc;
}

.movie-episode:nth-of-type(2n) {
  background-color: #4740bf;
}

.movie-cover-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-view-cover {
  overflow: hidden;
  width: 200px;
  height: 300px;
  width: fit-content;
  border-radius: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.watch-movie-redirect {
  width: calc(100% - 10px);
  padding: 5px;
  border-radius: 5px;

  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #ffffff11;
  color: #fff;

  text-align: center;
  text-decoration: none;
}

.watch-movie-redirect:hover {
  background-color: #ffffff22;
}
