.home-body {
  --left-margin: 0px;
  position: relative;
  width: calc(100% - var(--left-margin));
  height: 100%;
  padding-left: var(--left-margin);
  overflow: hidden;
}

.home-content {
  height: 100%;
  overflow-y: scroll;
}

.home-content-loading {
  overflow: hidden;
}