/* BEGIN navigation bar */

.navigation-bar {
  width: 290px;
  height: 100vh;
  background-color: rgb(19, 19, 28);
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  user-select: none;
  overflow: hidden;
  transition:
    left 0.5s cubic-bezier(.17,.67,.44,.89);
}

.navigation-bar-logo {
  display: flex;
  flex-direction: row;
}

.navigation-header {
  font-size: 16px;
  margin: 10px 30px;
  padding: 0;
}

.navigation-button {
  width: calc(100% - 20px);
  padding: 10px 0px;
  padding-left: 30px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: rgb(86, 86, 86);
  font-size: 14px;
  flex-shrink: 0;
  flex-grow: 0;

  transition: color 0.2s linear;
}

.navigation-button-active {
  color: white;
}

.navigation-button:hover {
  background-color: #ffffff11;
}

.navigation-icon {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.navigation-app-version {
  color: #999999aa;
  font-size: 10px;
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 145px;
  transform: translateX(-50%);
}

/* END navigation bar */

/* BEGIN navigation groups */

.content-group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}

.config-group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}

.navigation-bar-hide {
  left: -290px;
}

/* END navigation groups */
